---
// Component imports
import Main from "../layouts/MainLayout.astro";
import PostCard from "../components/PostCard.astro";
import Pagination from "../components/controllers/Pagination.astro";
import Sidebar from "../components/SideBar.astro";
// Utils
import type { PaginateFunction } from "astro";
import { GetSortedPosts } from "../utils/content";
import YukinaConfig from "../../yukina.config";
import { GetCategories, GetTags } from "../utils/content";

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const postCollections = await GetSortedPosts();
  return paginate(postCollections, { pageSize: 6 });
}
const { page } = Astro.props;
---

<Main>
  <!-- Sidebar -->
  <div class="w-60 fixed top-0 left-0 h-screen">
    <Sidebar
      name={YukinaConfig.username}
      role={YukinaConfig.sign}
      avatar={YukinaConfig.avatarUrl}
      links={YukinaConfig.socialLinks}
    />
  </div>

  <!-- Main content -->
  <div class="ml-60 px-4 sm:px-6 lg:px-8 max-w-[800px] mx-auto space-y-8">
    {page.data.map((entry, index) => (
      <div
        class="onload-animation"
        style={`animation-delay: calc(var(--onload-animation-delay) + ${index + 1} * var(--onload-animation-interval));`}
      >
        <PostCard
          id={entry.id}
          title={entry.data.title}
          published={entry.data.published}
          category={entry.data.category}
          tags={entry.data.tags}
          description={entry.data.description}
          image={entry.data.cover}
          readingMetadata={
            (entry.rendered!.metadata as any).frontmatter.readingMetadata
          }
        />
      </div>
    ))}

    <Pagination
      class="onload-animation"
      lastPage={page.lastPage}
      current={page.currentPage}
      prevURL={page.url.prev}
      nextURL={page.url.next}
      style={`animation-delay: calc(var(--onload-animation-delay) + ${page.data.length + 1} * var(--onload-animation-interval));`}
    />
  </div>
</Main>

